* {
    margin: 0;
    padding: 0;

}

.search{
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: antiquewhite 5px solid;
    border-radius: 10px;
    min-width: 100px;

}

.column1 {
    order: 1;
}

.column2 {
    order: 2;
}

.column3 {
    order: 3;
}
.column4 {
    order: 4;
}
.column5 {
    order: 5;
}
.note_title_block{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2{
    text-align: center;
    margin-right: 10px;
}



.task{
    border: black 5px solid;
    border-radius: 10px;
    padding: 3px;
    min-width: 100px;
    margin: 10px;
}

.title_task{
    text-align: center;
}



.add_task{
    padding: 3px;
}

li{
    list-style: none;
}

.none{
    display: none;
}

.disabled{
    color: rgb(93, 6, 151);
    pointer-events: none;
}

.add_button{
    padding: 3px;
}

.input_button{
    background-color: white;
    border-radius: 10px;
    border: black 5px solid;
    padding: 5px;
    margin-top: 3px;
}
input{
    height: 30px;
    border: black 5px solid;
    border-radius: 10px;
    padding-left: 5px;
    text-align: center;
    background-color: white;

}
